<footer class="footer fixed-bottom container-fluid text-center text-lg-start">
   <div class="d-flex flex-column justify-content-center">
      <p>Designed and Created By: Benjamin Wilde</p> 
   
      <a href="https://www.linkedin.com/in/benjamin-wilde/"><img class="linkedin" src="https://i.ibb.co/drsgLRn/LI-In-Bug.png" alt="LinkedIn"></a>
      
   </div>
   
   
</footer> 