<footer>
   <p>Designed and Created By: Benjamin Wilde</p> 
   
   <a class="linkedin" href="https://www.linkedin.com/in/benjamin-wilde/"><img src="https://i.ibb.co/64KfhVZ/linkedin.png" alt="linkedin">
   <i class="bi bi-linkedin"></i>
   
</footer> 