<nav class="container-fluid nav navbar navbar-inverse">
    <!-- <h1 class="navbar-text">Job Applications Log</h1>
    <a class="navbar-brand btn align-right" href="/applications/new">Add New Job Application</a>

    <a href="/users">Sign Up</a>
    <a href="/sessions/new">Sign In</a> -->
    <div class="container-fluid d-flex justify-content-between  navText" style="width: 100%;">
        
        <!-- <div class="container-fluid d-flex"> -->
            <h1 class="container-fluid d-flex navbar-text">Applications Tracker</h1>

            <ul class="d-flex flex-row navbar-nav mr-auto">
                <div class="welcome">
                    <% if (currentUser) { %>
                        <li class="">Welcome!</li>
                        <li class="">
                          <form class="" action="/sessions?_method=DELETE" method="POST">
                            <input class="btn btn-primary" type="submit" value="Log Out"/>
                          </form>
                        </li>
              </ul>
                  
                        <% } else { %>
                </div>
                
                <div class="login">
                    <a class="btn btn-primary" href="/users">Sign Up</a></li>
                    <a class="btn btn-primary" href="/sessions/new">Log In</a></li>
                </div>
                
                <% } %>
        </div>
        
    </div>
    
        
    
    
</nav>
