<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applications Sent</title>
</head>
<body>
    <nav>
        <h2>Add New Job Application</h2>
        <a href="/applications/">Return To Home Page</a>
    </nav>

    <form action="/applications" method="POST">
        <label for="name">Company Name</label>
        <input type="text" name="name" id="name"/>

        <label for="date">Date Applied</label>
        <input type="date" name="date" id="date"/>

        <label for="service">Site/Service Used</label>
        <input type="text" name="service" id="service"/>

        <label for="location">Company Address</label>
        <input type="text" name="location" id="location"/>

        <label for="note">Additional Information</label>
        <input type="text" name="note" id="note"/>

        <label for="interview">Interview?</label>
        <input type="checkbox" name="interview" id="interview"/>

        <label for="offer">Job Offer?</label>
        <input type="checkbox" name="offer" id="offer"/>

        <input type="submit" value="Submit">
    </form>


</body>
</html>