* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif, monospace;
}

.container-fluid {
    padding: 0;
}

.nav {
    background-color: #B0BEC5;

}

header {
    margin-top: 30px;
}


.card {
    margin: 20px 0;
}

.card-subtitle {
    padding-bottom: 15px;
}


#edit {
    border-radius: 3px;
    padding-right: 10px;
}

.btn-group {
    margin-top: 15px;
}

.navText {
    padding: 15px;
}

.footer {
    background-color: #B0BEC5;
}

.linkedin {
    width: 25px;
}
